# Build products
WebHelper2Private-1.0.gir
WebHelper2Private-1.0.typelib
webhelper/webhelper_private/config.js

# C extensions
*.o
*.so
*.la
*.lo

# Unit test / coverage reports
test-results.xml
*.log
