#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@ --with gir --builddirectory=_build

# Needed because the fake configure file doesn't expand variables in its
# arguments
override_dh_auto_configure:
	dh_auto_configure -- \
	--prefix=${DEB_PREFIX} \
	--libdir=${DEB_PREFIX}/lib/$(DEB_HOST_MULTIARCH) \
	--libexecdir=${DEB_PREFIX}/lib/$(DEB_HOST_MULTIARCH) \
	--mandir=${DEB_PREFIX}/share/man \
	--includedir=${DEB_PREFIX}/include

override_dh_clean:
	dh_clean
	rm -rf _build
